.navbar {
    background-color: #4d1569;
    z-index: 100;
  }

  .navbar-brand {
    position: absolute;
    top: 0px;
  }

  .navbar-collapse {
    margin-left: 115px;
  }

  #navbox {
    margin-left: 200px;
  }

  .navbar .navbar-brand {
    color: white;
    margin-right: 100px;
  }

  .navbar a {
    color: white;
  }

  .navbar a.nav-link.active {
    color: white;
    text-decoration: underline;
  }

  .navbar a:hover {
    color: #DEACF7;
  }

  .navbar a:focus {
    color: white;
  }
  