.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #EBE5E1;
  overflow-x: hidden;
  padding-top: 80px;
}
.sidenav a {
  padding: 4px 8px 0px 16px;
  text-decoration: none;
  color: #606060;
  display: block;
}
.sidenav a:hover {
  color: #bb89d8;
}
.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidenav a.active { color: #000000; background-color:#B5B2AF; }
.sidenav a:focus  { color: #898989; }
