.navbar {
  background-color: #4d1569 !important;
  /* z-index: 100; */
}

.bi {
  width: 1.5rem;
  height: 1.5rem
}

#navbox {
  margin-left: 200px;
}

.navbar .navbar-brand {
  color: white;
  margin-right: 100px;
}

.navbar a {
  color: white;
}

.navbar a.nav-link.active {
  color: white;
  text-decoration: underline;
}

.navbar a:hover {
  color: #DEACF7;
}

.navbar a:focus {
  color: white;
}

.navbar-toggler {
  border-width: 0px !important;
}

#page {
  margin-top: 100px;
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* General custom overrides for OneNote/HTML  */
P { 
  margin-bottom: 0 !important;
  line-height: 125% !important;
}

TD P {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  line-height: var(--font-size) !important;
}